<html>
<head>
  <meta charset="UTF-8">
  <title>注册会员</title>
</head>
<body>
<div class="container" style="max-width:400px">
  <form action="" method="post">
    {% csrf_token %}
    <div class="field">
      {{ form.username.errors }}
      <label for="id_username">昵称:</label>
      {{ form.username }}
    </div>
    <div class="field">
      {{ form.email.errors }}
      <label for="id_email">邮箱:</label>
      {{ form.email }}
        </div>
    <div class="field">
      {{ form.password1.errors }}
      <label for="id_password">密码:</label>
      {{ form.password1 }}
    </div>
    <div class="field">
      {{ form.password2.errors }}
      <label for="id_password2">重复密码:</label>
      {{ form.password2 }}
    </div>
    <input type="submit" value="注册并登陆">
  </form>
</div>
</body>
</html>
