<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{STATIC_URL}}js/jquery.mobile-1.4.2.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}themes/gray.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script src="{{STATIC_URL}}js/jquery.js"></script>
  <script src="{{STATIC_URL}}js/jquery.mobile-1.4.2.js"></script>
  <script src="{{STATIC_URL}}js/jquery.validate.js"></script>
</head>
<body>

<div data-role="page" id="pageone">
    <div data-role="header">
      <h1>发布信息</h1>
    </div>
    <div data-role="content"  data-ajax="false">
      <h3>成功提交,请等待审核!</h3>
      <a href="/" data-role="button">返回首页</a>
    </div>
    <div data-role="footer">
      <h1>微网站</h1>
    </div>
</div>
</body>
</html>
