<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="js/jquery.mobile-1.4.2.min.css">
<link rel="stylesheet" href="jquery.mobile.theme-1.4.2.css">

<script src="js/jquery.js"></script>
<script src="js/jquery.mobile-1.4.2.js"></script>
</head>
<body>

<div data-role="page" id="pageone">
  <div data-role="header">
    <h1>发布信息</h1>
  </div>

  <div data-role="content">


	<form method="post" action="demoform.asp">
	<fieldset data-role="fieldcontain">
        <label for="category">选择类别：</label>
        <select name="day" id="day">
         <option value="mon">租房信息</option>
         <option value="tue">二手物品</option>
         <option value="wed">交友信息</option>
        </select>
      </fieldset>
	<fieldset data-role="fieldcontain">
      <label for="fname" >姓名：</label>
      <input type="text" name="fname" id="fname" placeholder="姓名...">
	  </fieldset>
	  
	  <fieldset data-role="fieldcontain">
	  	<label for="file">图片:</label>
		<input type="file" name="file" id="file" value="">	</fieldset>
      <input type="submit" data-inline="true" value="提交"> 
	    
    </form>
  </div>

  <div data-role="footer">
    <h1>在此处插入页脚文本</h1>
  </div>
  
</div> 

</body>
</html>
