<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="js/jquery.mobile-1.4.2.min.css">
	<link rel="stylesheet" href="themes/gray.css">

	<script src="js/jquery.js"></script>
	<script src="js/jquery.mobile-1.4.2.js"></script>
</head>
<body>

<div data-role="page" id="pageone">
	<div data-role="header" >
		<h1>租房信息</h1>
	</div>
	<div data-role="content">
		<div data-role="tabs" id="tabs">
			<div data-role="navbar">
				<ul>
					<li><a href="#one" data-ajax="false" class="ui-btn-active">出租信息</a></li>
					<li><a href="#two" data-ajax="false">求租信息</a></li>
				</ul>
			</div>
			<div id="one" class="ui-body-d ui-content">
				<h3>房屋出租</h3>
				<form method="post" action="demoform.asp">
					<fieldset data-role="fieldcontain">
						<label for="fname" >姓名：</label>
						<input type="text" name="fname" id="fname" placeholder="姓名...">
					</fieldset>
					<fieldset data-role="fieldcontain">
						<label for="fphone" >电话号码：</label>
						<input type="text" name="fphone" id="fphone" placeholder="电话号码...">
					</fieldset>
					<fieldset data-role="fieldcontain">
						<label for="fphone" >区域：</label>
						<select name="dist" id="dist">
							<option value="lujiazui">陆家嘴</option>
							<option value="zhangjiang">张江</option>
							<option value="pudong">浦东</option>
						</select>
					</fieldset>
					<fieldset data-role="fieldcontain">
						<label for="fphone" >地址：</label>
						<input type="text" name="fphone" id="fphone" placeholder="电话号码...">
					</fieldset>
					<fieldset data-role="fieldcontain">
						<label for="fphone" >价格：</label>
						<input type="text" name="fphone" id="fphone" placeholder="电话号码...">
					</fieldset>
					<label for="fphone" >备注：</label>
					<textarea rows="5" name="textarea" id="textarea" data-mini="false" placeholder="备注..."></textarea>
					<fieldset data-role="fieldcontain">
						<label for="file">图片:</label>
						<input type="file" name="file" id="file" value="">
					</fieldset>
					<a href="#popupDialog" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-check ui-btn-icon-left ui-btn-b">提交信息</a>
					<div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
						<div data-role="header" data-theme="a">
							<h1>确认提交?</h1>
						</div>
						<div role="main" class="ui-content">
							<h3 class="ui-title">你确认信息正确，并且提交到社区么?</h3>
							<p>发送之后无法修改.</p>
							<a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">取消</a>
							<input type="submit" data-inline="true" value="提交">
						</div>
					</div>
				</form>
			</div>

			<div id="two" class="ui-body-d ui-content">
				<h3>求租房屋</h3>
				<form method="post" action="demoform.asp">
					<fieldset data-role="fieldcontain">
						<label for="fname" >姓名：</label>
						<input type="text" name="fname" id="fname" placeholder="姓名...">
					</fieldset>
					<fieldset data-role="fieldcontain">
						<label for="fphone" >电话号码：</label>
						<input type="text" name="fphone" id="fphone" placeholder="电话号码...">
					</fieldset>
					<fieldset data-role="fieldcontain">
						<label for="fphone" >区域：</label>
						<select name="dist" id="dist">
							<option value="lujiazui">陆家嘴</option>
							<option value="zhangjiang">张江</option>
							<option value="pudong">浦东</option>
						</select>
					</fieldset>
					<fieldset data-role="fieldcontain">
						<label for="fphone" >地址：</label>
						<input type="text" name="fphone" id="fphone" placeholder="电话号码...">
					</fieldset>
					<fieldset data-role="fieldcontain">
						<label for="fphone" >价格：</label>
						<input type="text" name="fphone" id="fphone" placeholder="电话号码...">
					</fieldset>
					<label for="fphone" >备注：</label>
					<textarea rows="5" name="textarea" id="textarea" data-mini="false" placeholder="备注..."></textarea>
					<input type="submit" data-inline="true" value="提交">
				</form>
			</div>


		</div>


	</div>

	<div data-role="footer">
		<h1>在此处插入页脚文本</h1>
	</div>

</div>
</body>
</html>
