<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="js/jquery.mobile-1.4.2.min.css">
<link rel="stylesheet" href="themes/gray.css">
<script src="js/jquery.js"></script>
<script src="js/jquery.mobile-1.4.2.min.js"></script>
</head>
<body>

<div data-role="page" id="pageone">
    <div data-role="header">
        <h1>租房信息</h1>
        <div data-role="navbar">
            <ul>
                <li><a href="#" data-icon="home" class="ui-btn-active">租房信息</a></li>
                <li><a href="#" data-icon="home">二手物品</a></li>
                <li><a href="#" data-icon="home">拼车</a></li>
            </ul>
        </div>
    </div>
    <div data-role="content">

        <ul data-role="listview">
            <li data-role="list-divider">
                6月21日 陆家嘴租房信息
                <div class="ui-li-count">20</div>
            </li>
            <li>
                <a href="#">
                    <h3>陆家嘴-出租房屋</h3>
                    <p>[图]粮食一听--1800元，有图片</p>
                    <p class="ui-li-aside">发布时间:6-21 14:00</p>
                </a>
            </li>
            <li data-role="list-divider">
                6月21日 d张江租房信息
                <div class="ui-li-count">158</div>
            </li>
            <li>
                <a href="#">
                    <h3>张江-二手物品</h3>
                    <p id="no-ellipsis">[图]1800--全新自行车转让...,有图片</p>
                    <p class="ui-li-aside">发布时间:6-21 14:00</p>
                </a>
            </li>
        </ul>

    </div>

    <div data-role="footer">
        <h1>微网站</h1>
    </div>
</div>
</body>
</html>
